.brand-data {
  width: 300px;
  border: 2px solid rgb(6, 66, 6);
  padding: 25px;
  margin: 25px;
  display: flex;
  justify-content: center;
}

.brand-data > div {
  margin: auto;
  text-align: center;
  font-size: 15pt;
  line-height: 25px;
  color: #4f4f4f;
}

.brand-name {
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper > div {
  margin: auto;
}
